# Pokemon

### Introduction:

This time you will create the data.



### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Create a data dictionary that looks like the DataFrame below

In [2]:
evolution = ['Ivysaur', 'Charmeleon','Wartortle','Metapod']
hp = [45,39,44,45]
name = ['Bulbasaur', 'Charmander', 'Squirtle', 'Caterpie']
pokedex = ['yes', 'no', 'yes','no']
type = ['grass', 'fire', 'water', 'bug']
data = {
    'evolution': evolution,
    'hp': hp,
    'name': name,
    'pokedex': pokedex,
    'type': type
}

### Step 3. Assign it to a variable called pokemon

In [4]:
pokemon = pd.DataFrame(data)
pokemon

    evolution  hp        name pokedex   type
0     Ivysaur  45   Bulbasaur     yes  grass
1  Charmeleon  39  Charmander      no   fire
2   Wartortle  44    Squirtle     yes  water
3     Metapod  45    Caterpie      no    bug

### Step 4. Ops...it seems the DataFrame columns are in alphabetical order. Place  the order of the columns as name, type, hp, evolution, pokedex

In [5]:
pokemon = pokemon[['name','type','hp','evolution','pokedex']]
pokemon

         name   type  hp   evolution pokedex
0   Bulbasaur  grass  45     Ivysaur     yes
1  Charmander   fire  39  Charmeleon      no
2    Squirtle  water  44   Wartortle     yes
3    Caterpie    bug  45     Metapod      no

### Step 5. Add another column called place, and insert what you have in mind.

In [14]:
pokemon.insert(5, 'place', ['Guyana', 'Djibouti', 'Greenland', 'Fiji'])

### Step 6. Present the type of each column

In [15]:
pokemon.dtypes

name         object
type         object
hp            int64
evolution    object
pokedex      object
place        object
dtype: object

### BONUS: Replace yes with true and no with false for the pokedex values

In [18]:
pokemon['pokedex'].replace({'yes': True, 'no': False}, inplace=True)
pokemon

         name   type  hp   evolution  pokedex      place
0   Bulbasaur  grass  45     Ivysaur     True     Guyana
1  Charmander   fire  39  Charmeleon    False   Djibouti
2    Squirtle  water  44   Wartortle     True  Greenland
3    Caterpie    bug  45     Metapod    False       Fiji

### make a new dataframe with one additional column called hp_boost which is 10 more than the hp value

In [19]:
pokemon.assign(hp_boost = lambda x: x.hp + 10)

         name   type  hp   evolution  pokedex      place  hp_boost
0   Bulbasaur  grass  45     Ivysaur     True     Guyana        55
1  Charmander   fire  39  Charmeleon    False   Djibouti        49
2    Squirtle  water  44   Wartortle     True  Greenland        54
3    Caterpie    bug  45     Metapod    False       Fiji        55